<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PHP Anagram!</title>
    </head>
    <body>
        <h2>Compare if two words are anagrams below.</h2>
        <form action="/" method="get">
        <button type="button">Go Back!</button>        
        </form>
    </body>
</html>
